body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.719);
   color: #ffffff;
}
.nav {
    color: aqua;
}
.hobby {
    color: aqua;
}
.project {
    color: aqua;
}